*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:burlywood ;
  display: flex;
  justify-content: center;
  /* align-items: center; */
min-height: 100vh;
}
.App{
  margin-top: 10vh;
  /* border: 1px solid red; */
  /* height: 600px; */
}
.inputDiv>input{
  height:30px;
  width:250px;
  margin-right: 5px;
  border-radius: 8px;
  border: none;
}
.inputDiv>input::placeholder{
 text-align: center;
}
.inputDiv>button{
  padding: 5px;
  border-radius: 4px;
  border: none;
  margin-left: 5px;
  font-weight: bold;
  font-size: 1em;
}
.displayResulting{
  margin-top: 15px;

}
.para{
  background-color: white;
  margin-top: 4px;
  padding: 5px;
  border-radius: 4px;

}
